body {
    font-family: 'Montserrat';
    font-style: normal;
}

.features {
    height: 510px;
    margin-bottom: 50px;
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    width: 539px;
    text-align: center;
    color: #2F281E;
    margin: 30px auto;
}

.bg-wrapper {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-list {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    gap: 45px;
    width: 1200px;
    margin-bottom: 70px;
}

.features-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.features-item img {
    width: 51px;
    height: 50px;
    margin-bottom: 30px;
}

.features-item h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2F281E;
    margin-bottom: 16px;
}

.features-item p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.features-button {
    width: 180px;
    height: 50px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
}

.features-button a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

footer {
    border-top: 1px solid rgba(188, 208, 229, 0.496913);;
}

.footer-wrapper {
    margin: 70px auto;
    width: 1200px;
    height: 209px;
    display: flex;
    justify-content: space-between;
    gap: 85px;
}

.footer-wrapper section ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-wrapper img {
    width: 200px;
    height: 32px;
    margin-right: 130px;
}

.footer-wrapper section h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2F281E;
    margin-bottom: 25px;
}

.footer-wrapper ul {
    height: 149px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-wrapper li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.footer-form {
    width: 340px;
}

input[type="text"] {
    padding: 0px 10px;
    width: 340px;
    height: 50px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-bottom: 23px;
}

input::placeholder {
    color: rgba(188, 208, 229, 1);
}

input[type="submit"] {
    width: 180px;
    height: 50px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

