body {
    background-image: url(../images/images-for-index/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top 163px;
}

header {
    height: 80px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #ffffff;
    position: fixed;
    left: 0; 
    right: 0; 
}

.header-info {
    width: 361px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-language {
    text-decoration: none;
    font-family: 'Tourney', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #000000;
    text-transform: uppercase;
}

.header-nav {
    width: 261px;
    display: flex;
    justify-content: space-between;
}

.header-nav li a {
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
}

.header-nav li:last-of-type:before {
    content: "/";
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 10px;
}

header img {
    width: 238px;
    height: 54px;
}

.container {
    padding-top: 163px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

aside {
    position: sticky;
    width: 385px;
    height: 462px;
    top: 163px;
}

.aside-nav-item {
    height: 58px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 80px;
}

.aside-nav-item a {
    text-decoration: none;
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
}

.subtitle {
    font-family: 'Francois One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
    height: 48px; 
    position: relative;
}

.subtitle::before {
    content: "";
    display: block;
    width: 100px;
    height: 8px;
    background: #000000;
    margin-bottom: 20px;
}

main {
    margin: 0 auto;
    width: 785px;
}

section {
    margin-bottom: 70px;
}

.introduction {
    width: 344px;
}

.components {
    width: 420px;
}

.react {
    width: 477px;
}

.handling {
    width: 465px;
}

.subtitle-chapter {
    font-family: 'Farro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
    text-transform: none;
    position: absolute;
    top: 22px;
    right: 33px;
}

section p, section ul li {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 40px;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.background {
    background-color: rgb(226, 226, 226);
}

section ul li::before {
    content: "+";
}



